@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    // Récupérer le chemin actuel
    var currentPath = HttpContextAccessor.HttpContext?.Request.Path.Value ?? "";
    var hideSidebarPages = new List<string> { "/Login", "/RegisterSupplier" };
    var showSidebar = HttpContextAccessor.HttpContext?.User?.Identity?.IsAuthenticated == true && !hideSidebarPages.Contains(currentPath);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MessagerieApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            @if (showSidebar)
            {
                <!-- Afficher la sidebar uniquement si l'utilisateur est authentifié et que ce n'est pas Login/Register -->
                <partial name="_Sidebar" />
                <div class="col-md-9 p-4" id="main-content">
                    @RenderBody()
                </div>
            }
            else
            {
                <!-- Pleine largeur pour login/register -->
                <div class="col-12 p-4" id="main-content">
                    @RenderBody()
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
